*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    display: grid;
    padding: 50px 50px;
    justify-self: center;
    .courses{
        font-family: "Roboto", sans-serif;
    }
    .search{
        justify-self: center;
       input{
        padding: 10px 10px;
        border-radius: 7px;
        font-size: 15px;
       }
    }
    .btn-one{
        justify-self: center;
        button{
            padding: 10px 30px;
            border-radius: 7px;
            background-color: white;
        }
    }
    .btn-two{
        justify-self: center;
        button{
            padding: 10px 30px;
            border-radius: 7px;
            background-color: white;
        }
    }
    .btn-three{
        justify-self: center;
        button{
            padding: 10px 25px;
            border-radius: 7px;
            background-color: white;
        }
    }
    .btn-four{
        justify-self: center;
      button{
        padding: 10px 30px;
        border-radius: 7px;
        background-color: rgb(224, 204, 241);
        color:blueviolet;
      }
    }
    .btn-five{
        justify-self: center;
        button{
          padding: 10px 30px;
          border-radius: 7px;
          background-color:blueviolet;
          color: white;
        }
      }

}

@media(max-width:1440px){
 header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
 }
 
}

@media(max-width:800px){
    header{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       row-gap: 30px;
       justify-self: center;
    }
    .btn-one{
        padding-left: 20px;
     }
     .btn-two{
        padding-left: 20px;
     }
     .btn-three{
        padding-left: 30px;
     }
     .btn-four{
        padding-left: 50px;
     }
     .btn-five{
        padding-left: 50px;
     }
   }

   @media(max-width:500px){
    header{
       display: grid;
       grid-template-columns:  1fr;
       row-gap: 30px;
       justify-self: center;
    }
    .courses{
        display: grid;
        grid-template-columns:  1fr;
        padding-left: 120px;
    }
   }